<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $( "#target" ).submit(function( event ) {
          console.log("idzie submit");
          $( ".preloader").show();
        });
      });
    </script>
  </head>
  <body>
    <div class="preloader"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>Keywords Counter</h1>
          <br>
          <form id="target" role="form" action="" method="post">
            <div class="form-group">
              <input type="text" name="url" class="form-control" placeholder="Enter URL..." style="max-width: 300px;" value="{{ request.form.url }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Process</button>
          </form>
          <br>
          {% if error %}
          <div class="alert alert-danger" role="alert">
            <b>Error: </b>
            {{ error }}
          </div>
          {% endif %}
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          {% if results %}
          <h1>Frequencies</h1>
          <br>
            <div id="results">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Keyword:</th>
                    <th>Count:</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key in results %}
                    <tr>

                      <td>{{key}}</td>
                      <td>{{results[key]}}</td>

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <br><br>
  </body>
</html>